.customNavbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

.navbar .dropdown-menu {
    z-index: inherit;
}

.customNavBrand:hover {
    transform: scale(1.05);
}

.customNavItem:hover {
    transform: translateY(-1px);
    color: #eecd1d !important;
}
