/* global.css */

/* For Chrome, Safari, and newer Edge browsers */
/* Track */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    width: 8px; /* Set width to 0 to hide the scrollbar handle */
    background-color: #000000;
    border-radius: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #eecd1d; /* Color of the scrollbar track */
  }
  
  /* Corner */
  ::-webkit-scrollbar-corner {
    background-color: #eecd1d; /* Color of the scrollbar corner */
  }
  
  /* Resizer */
  ::-webkit-resizer {
    background-color: #fff; /* Color of the scrollbar resizer */
  }

  @font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  

  h6 {
    font-family: 'Rocher';
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  h5 {
    font-family: 'Rocher';
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
  }  
  
  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }

  @font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
  }
  
  
  .mint {
    font-palette: --Mint;
  }
  
  .purples {
    font-palette: --Purples;
  }
  